---
import BaseLayout from "../../app/layouts/base-layout.astro";
import FileCreateEdit from "../../components/layout/file-create-edit.astro";
import HeadingBlock from "../../components/layout/heading-block.astro";
---

<BaseLayout title="Create new md">
  <div class="main">
    <HeadingBlock
      title="Create a new note"
      description="Create, preview, save locally and upload it to the server"
    />
    <FileCreateEdit/>
  </div>
</BaseLayout>